* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 2rem;
    position: absolute;
}

ul {
    position: relative;
    display: flex;
    justify-content: flex-end; 
}


body {
    background-color: aqua;
}