* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

nav {
    background-color: rgb(34, 159, 241);
    height: 4rem;
    width: 100%;
}

label.logo a{
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 2.2rem;
    position: absolute;
    color: white;
    padding: 0 6rem;
    padding-top: 0.6rem; 
}
nav ul {
    float: right;
    margin-right: 1rem;
}
 nav ul li {
    display: inline-block;
    line-height: 4rem;
    margin: 0 1rem; 
}

nav ul li a {
    color: white;
}



